name: checks

"on":
  pull_request:
  push:
    branches:
      - main
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-13]
        ruby-version:
          # - '2.0'
          # - '2.1'
          # - '2.2'
          # - '2.3'
          # - '2.4'
          # - '2.5'
          # - '2.6'
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.2'
          - '3.3'
          - '3.4'
        # exclude:
        #   - os: ubuntu-latest
        #     ruby-version: '2.2' # setup-ruby fails to install ruby 2.2 on ubuntu
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      # Install CMake
      - name: Install CMake (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake
          cmake --version

      - name: Install CMake (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install cmake
          cmake --version

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - run: rake install
      - run: gem install minitest && rake test
